header .navbar-brand .default-logo {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

header .navbar-brand img {
    max-height: 80%;
}

header.sticky.sticky-active .navbar-brand .alt-logo {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

header .navbar-brand {
    margin-right: 0;
    vertical-align: middle;
    padding: 20px 0;
    display: inline-block;
    font-size: 0;
}

header .left-nav .navbar-nav:before {
    height: 0;
    width: 0;
    background-color: var(-webkit-transition);
    opacity: 0.5;
    content: "";
    -webkit-transform: translate(-7px, 0px);
    transform: translate(-7px, 0px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.top-space-margin {
    margin-top: 115px;
}

.bg-base-color {
    background-color: #dcaf27;
}

.icon-with-text-style-10 .feature-box-icon:before {
    width: 100%;
    height: 50%;
    background-color: #dcaf27;
    opacity: 0.12;
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transition: 0.4s cubic-bezier(0.12, 0, 0.39, 0);
    transition: 0.4s cubic-bezier(0.12, 0, 0.39, 0);
}

footer .footer-logo img {
    width: 85%;
    max-height: 60%;
}

.bottom-tab{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: space-between;
}

.bottom-tab__photograph {
    display: flex;
    justify-content: flex-end;
}

.bg-very-light-gray {
    background-color: #ffffff;
}

.bg-base-color-transparent {
    background-color: rgb(250 241 214);
}

.border-color-base-color {
    border-color: #dcaf27 !important;
}

.text-base-color, .btn-link.text-base-color {
    color: #dcaf27;
}

.bg-base-color-light {
    background-color: #f6f1e0;
}

.btn.btn-base-color:hover {
    background-color: #dcaf27;
    border-color: #dcaf27;
    color: var(--white);
}
.btn.btn-base-color:hover, .btn.btn-base-color:active {
    background-color: transparent;
    border-color: #dcaf27;
    color: #dcaf27;
}
.btn.btn-base-color {
    background-color: #dcaf27;
    color: var(--white);
}
.btn.btn-dark-gray:hover {
    background-color: #dcaf27 !important;
    color: #fff !important;
    border-color: #dcaf27 !important;
}

footer {
    padding-top: 50px;
    padding-bottom: 110px;
}

.footer__gr{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.footer__pages--gr{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}

.footer__icons--df{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__icons--df-location{
    display: flex;
    gap: 15px;
}

.fa-solid, .fab, .far, .fas {
    line-height: 2;
}

.pages__about--gr{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.pages__about--df {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.pages__mission-vision--pd {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.pages__from-where--mt {
    margin-top: 0 !important;
}

.main__mission-mg {
    margin-bottom: 100px;
}

.no-padding {
    padding: 0 !important;
}

.box-fancy [class*="col-"] {
    padding: 5% !important;
}

:root {
    --alt-font: 'Urbanist', sans-serif;
    --primary-font: 'Atkinson Hyperlegible', sans-serif;
    --base-color: #dcaf27;
    --dark-gray: #262b35;
}

/*---------------------------------------------Media---------------------------------------------*/
@media (max-width: 1440px) {

    .fs-350 {
        font-size: 15.875rem;
        line-height: 21.875rem;
    }

}

@media (max-width: 1024px) {

    .footer__gr{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 30px;
    }

    .lg-fs-275 {
        font-size: 12.188rem;
        line-height: 17.188rem;
    }

}



@media (max-width: 768px) {

    header .navbar-brand .mobile-logo {
        visibility: visible !important;
        opacity: 1 !important;
        width: 100% !important;
    }

    .md-mb-40px {
        margin-bottom: 0px !important;
    }

    .w-80.lg-w-100 {
        margin-bottom: 0;
    }

    .lg-right-0px {
        right: 10px !important;
    }
    
    .md-fs-250 {
        font-size: 9.625rem;
        line-height: 15.625rem;
    }

}

@media (max-width: 430px) {

    .footer__gr{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 30px;
    }

    .footer__gr{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }
    
    .footer__pages--gr{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }

    .bottom-tab{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        justify-content: start;
        gap: 15px;
    }

    .bottom-tab__photograph {
        display: flex;
        justify-content: start;
    }

    .pages__banner {
        padding-top: 114px;
    }

    .pages__about--gr {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 20px;
    }

    .md-fs-250 {
        font-size: 6.625rem;
        line-height: 11.625rem;
    }

}

@media (max-width: 380px) {

    .top-space-margin {
        margin-top: 105px;
    }

    .col-auto {
        width: 80%;
    }

    .mobile__pd--lf {
        padding-left: 0 !important;
        width: 20% !important;
        justify-content: flex-end;
    }
    

    .pages__container {
        display: flex;
        align-items: center;
        flex-wrap: nowrap !important;
        justify-content: center;
    }

    .pages__banner {
        padding-top: 105px;
    }

    .md-fs-250 {
        font-size: 5.625rem;
        line-height: 11.625rem;
    }

}

@media (max-width: 320px) {

    .pages__banner {
        padding-top: 95px;
    }

    .md-fs-250 {
        font-size: 4.625rem;
        line-height: 10.625rem;
    }

}





