header .navbar-brand .default-logo {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

header .navbar-brand img {
    max-height: 80%;
}

header.sticky.sticky-active .navbar-brand .alt-logo {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

header .navbar-brand {
    margin-right: 0;
    vertical-align: middle;
    padding: 20px 0;
    display: inline-block;
    font-size: 0;
}

header .left-nav .navbar-nav:before {
    height: 0;
    width: 0;
    background-color: var(-webkit-transition);
    opacity: 0.5;
    content: "";
    -webkit-transform: translate(-7px, 0px);
    transform: translate(-7px, 0px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.top-space-margin {
    margin-top: 115px;
}

.bg-base-color {
    background-color: #dcaf27;
}

.icon-with-text-style-10 .feature-box-icon:before {
    width: 100%;
    height: 50%;
    background-color: #dcaf27;
    opacity: 0.12;
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transition: 0.4s cubic-bezier(0.12, 0, 0.39, 0);
    transition: 0.4s cubic-bezier(0.12, 0, 0.39, 0);
}

footer .footer-logo img {
    width: 85%;
    max-height: 60%;
}

.bottom-tab{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: space-between;
}

.bottom-tab__photograph {
    display: flex;
    justify-content: flex-end;
}

.bg-very-light-gray {
    background-color: #ffffff;
}

.border-color-base-color {
    border-color: #dcaf27 !important;
}

.text-base-color, .btn-link.text-base-color {
    color: #dcaf27;
}

.bg-base-color-light {
    background-color: #f6f1e0;
}

.btn.btn-base-color:hover {
    background-color: #dcaf27;
    border-color: #dcaf27;
    color: var(--white);
}
.btn.btn-base-color:hover, .btn.btn-base-color:active {
    background-color: transparent;
    border-color: #dcaf27;
    color: #dcaf27;
}
.btn.btn-base-color {
    background-color: #dcaf27;
    color: var(--white);
}

footer {
    padding-top: 50px;
    padding-bottom: 110px;
}